.App {
  position: relative;
  text-align: center;
}

.App-logo {
  position: absolute;
  left: 1em;
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 5s linear;
  }
}

.App-header {
  background-color: yellowgreen;
    min-height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.bg-brand{
  background:#733dd9 !important;
}

.text-brand{
  color:#733dd9 !important;
}
.boder-dott{
  border: 1px dotted rgba(128, 128, 128, 0.482) !important;
}
.card-number{
  position: absolute;
    text-align: start;
    top: 2px;
    left: 3px;
}